.About {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px 30px 50px;
    margin-top: 20px;
}

.About h1 {
        font-size: 2rem;
        font-weight: bold;
        color: #3085a0;
        margin-bottom: 15px;
    }
.About p {
        font-size: 1rem;
        color: #666;
        line-height: 1.6;
        max-width: 800px;
    }



    .About .Card {
        margin-top: 80px; 
        margin-bottom: 40px;
        margin-left: 100px;
        margin-right: 100px; 
        max-width: 1200px; 
    }