nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 50px 30px 50px;
}


nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
list-style-type: none;
display: inline-block;
padding: 10px 20px;
}

nav ul li a {
text-decoration: none;
font-weight: bold;
color: black;
}

nav ul li a:hover {
color: white;
transition: .3s;
            }

.navlinks {
    height: 15vh;
}

.Mobile {
    display: none;
}

@media (max-width: 768px)
{
    .Desktop {
        display: none;
    }

    .Mobile {
        display: flex;
        height: 15vh;
        justify-content: space-between;
    }

    .Hamburger {                                            
        cursor: pointer;
    }

    .navlinks ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: absolute;
        border-top: 3px solid black;
        top: 15vh;
        right: 0;
        height: 50vh;
        width: 35%;
    }
}