nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #E8E8E8;
    padding: 30px 50px 30px 50px;
}

.NavLinks {
    height: 15vh;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
list-style-type: none;
display: inline-block;
padding: 10px 20px;
}

nav ul li a {
text-decoration: none;
font-weight: bold;
color: black;
}

nav ul li a:hover {
color: white;
transition: .3s;
            }
